	*{
		margin: 0;
		padding: 0;
	}
	body,html{
		width: 100%;
		height: 100%;
	}
	#outer{
		width: 520px;
		height: 320px;
		/*轮播图居中*/
		position: fixed;
		top: 50%;
		left: 50%;
		margin-left: -260px;
		margin-top: -160px;
		
		border: 1px solid black;
		overflow: hidden;
	}
	#imgList{
		list-style: none;
		position: absolute;
		left: 0px;
	}
	#imgList li{
		width: 520px;
		height: 320px;
		float: left;
	}
	#imgList li img{
		width: 520px;
		height: 320px;
	}
	#navDiv{
		position: absolute;
		bottom: 15px;
	}
	#navDiv span{
		display: block;
		float: left;
		width: 15px;
		height: 15px;
		background-color: red;
		margin: 0 5px;
		opacity: 0.5;
		/*添加滤镜，50%透明度*/
		filter: alpha(opacity=80);
		border-radius: 50%;
		cursor: pointer;
	}
	#navDiv span:hover{
		background-color: black;
	}
	button{
		position: absolute;
		top: 50%;
		margin-top: -20px;
		font-size: 40px;
		width: 40px;
		text-align: center;
		height: 40px;
		line-height: 40px;
		background: green;
		opacity: 0.4;
		outline: none;
		cursor: pointer;
	}